<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos_base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/2ff68c31c3.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,700;1,700&display=swap" rel="stylesheet"> 
        <title>Home UwU</title>
    </head>
    
    <body>
        <header class="header">
            <div class="container logo-nav-container">
                <a href="#" class="logo">MUSICPRO</a>
                <span class="menu-icon">Menú</span>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Texto1</a></li>
                        <li><a href="#">Texto2</a></li>
                        <li><a href="#">Texto3</a></li>
                        <li><a href="#">Texto4</a></li>
                        <li><a href="#">Texto5</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="contenido">
          {% block contenido %}
    
          {% endblock %}
    
        </div>

        <!--Footer-->
    <footer>
        <div class="main-content">
          <div class="left box">
            <h2>Acerca de nosotros</h2>
            <div class="content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat magnam possimus incidunt nemo eveniet! Placeat in animi, consectetur culpa sequi perspiciatis temporibus architecto distinctio, amet impedit delectus excepturi veniam nemo?</p>
              <div class="social">
                <a href="https://facebook.com"><span class="fab fa-facebook-f"></span></a>
                <a href="https://twitter.com"><span class="fab fa-twitter"></span></a>
                <a href="https://instagram.com"><span class="fab fa-instagram"></span></a>
                <a href="https://youtube.com"><span class="fab fa-youtube"></span></a>
              </div>
            </div>
          </div>
          <div class="center box">
            <h2>Dirección</h2>
            <div class="content">
              <div class="place">
                <a href="https://www.google.com/maps/place/Puerto+de+Valpara%C3%ADso/@-33.0379879,-71.6279458,19.5z/data=!4m5!3m4!1s0x9689e728f69212b9:0x978c3bec9ea43b1e!8m2!3d-33.025!4d-71.6166667">
                  <span class="fas fa-map-marker-alt"></span>
                  </a>
                  <span class="text">Music Pro</span>
                </div>
                <div class="phone">
                  <a href="https://api.whatsapp.com/send?phone=56931101712&text=Hola, me gustaría hacer negocios!?">
                  <span class="fas fa-phone-alt"></span>
                  </a>
                  <span class="text">+56 9 123456789</span>
                </div>
                <div class="email">
                  <a href="mailto:emailorganizacion@dominio.cl">
                  <span  class="fas fa-envelope"></span>
                  </a>
                <span class="text">emailorganizacion@dominio.cl</span>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <center>
            <span class="far fa-copyright"></span><span> 2021 All rights reserved.</span>
          </center>
        </div>
      </footer>
      <!--End Footer-->
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/modal.js' %}"></script>
        <script src="static/js/dashboard.js"></script>
    </body>
</html>