{% extends 'TiendaMPRO/main.html' %}

{% load static %}

{% block content %}
    <div class="">
        <h1 class="display-6" id="sin_prod">COMMIT TRANSBANK</h1>
        {% ifequal respse.response_code 0 %}
        <br>
        <h1 class="display-6" id="sin_prod">TRANSACCION APROBADA</h1>
            <div>
                <table  class="table">
                    <caption>detalle de transacción</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>orden de compra</th>
                            <th>monto</th>
                            <th>código autorización</th>
                            <th>tipo de venta</th>
                            <th>fecha</th>
                            <th>Id-Transaccion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <td data-label="orden de compra">{{respse.buy_order}}</td>
                            <td data-label="monto">${{respse.amount|floatformat:0}}</td>
                            <td data-label="código autorización">{{respse.authorization_code}}</td>
                            <td data-label="tipo de venta">{{respse.payment_type_code}}</td>
                            <td data-label="fecha">{{respse.transaction_date}}</td>
                            <td data-label="Id-Transaccion">{{order.transaction_id}}</td>     
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endifequal %}
        
        {% ifnotequal  respse.response_code 0 %}
            <h1 class="display-6" id="sin_prod">TRANSACCION RECHAZADA...VUELVA AL INICIO</h1>   
        {% endifnotequal %}
            

        <form action="{% url 'store' %}" class="form-btn">
            <button type="submit" class="btn btn-success btn-home">
                Volver Inicio
            </button>
        </form>  
    </div>
{% endblock content %}

