{% extends 'TiendaMPRO/main.html' %}

{% load static %}

{% block content %}
<div class ="row">
    <div class="col-lg-6">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'pedidos' %}">&#x2190; Volver</a>
            <hr>
            <h3>Orden de Compra</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{item.producto.imageURL}}"></div>
            <div style="flex:2">
                <p>{{item.producto.nom_prod}}</p>
            </div>
            <div style="flex:1">
                <p>x{{item.cantidad}}</p>
            </div>
        </div>
        {% endfor %}
        <h5>Cantidad de productos: {{orden.get_carro_productos|floatformat:0}}</h5>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <h5>    </h5>
            <h3>Lugar de entrega</h3>
            <hr>
            {% if orden.retiroTienda == False %}
                {% for dir in direccion %}
                    <h5>Direccion: {{dir.direccion}}</h5>
                    <h5>Ciudad: {{dir.ciudad}}</h5>
                    <h5>Estado/comuna: {{dir.estado_comuna}}</h5>
                    <h5>Codigo Postal: {{dir.codigo_postal}}</h5>
                    <h5>Pais: {{dir.pais}}</h5>
                    <h5>Fecha: {{dir.fecha_pedido}}</h5>
                {% endfor %}
            {% endif %}
            {% if orden.retiroTienda == True %}
                {% for suc in sucursal %}
                    <h5>Sucursal de retiro: {{suc.sucursal.ciudad}}</h5>
                    <h5>Sucursal de retiro: {{suc.sucursal.direccion}}</h5>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}