{% extends 'TiendaMPRO/base.html' %}

{% load static %}

{% block contenido %}
<section>
  <div class="container" style="max-width: 100% !important;">
    <div class="carrusel">
      <h2>
        </h>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href=""> <img src="{% static 'image/Home.png' %}" class="d-block w-100" alt="logo"></a>

            </div>
            <div class="carousel-item">
              <a href=""><img src="{% static 'image/Home2.png' %}" class="d-block w-100" alt="img2"></a>
            </div>
            <div class="carousel-item">
              <a href=""><img src="{% static 'image/Home3.png' %}" class="d-block w-100" alt="img3"></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>

    </div>
  </div>

</section>

<div class="container section-title-container" >
  <h3 class="section-title section-title-center">
    <b>
    </b>
    <span class="section-title-main">Ofertas</span>
    <b>
    </b>
  </h3>
</div>

<div class="productos-oferta" style="margin-bottom: 500px;"></div>

<div class="container section-title-container">
  <h3 class="section-title section-title-center">
    <b>
    </b>
    <span class="section-title-main">Productos destacados</span>
    <b>
    </b>
  </h3>
</div>

<div class="productos-destacados" style="margin-bottom: 500px;"></div>


<div class="container section-title-container">
  <h3 class="section-title section-title-center">
    <b>
    </b>
    <span class="section-title-main">Categorías</span>
    <b>
    </b>
  </h3>
</div>

<div class="categorias" style="margin-bottom: 500px;"></div>

{% endblock %}

