{% extends 'TiendaMPRO/main.html' %}
{% load static %}

{% block content %}
<div>
    <div class="box-element">
        <h4>Login</h4>
    </div>
    <div class="box-element">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="box-element">
                <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                <a  class="btn btn-primary" href="{% url 'registrar' %}">Ir a registrarse</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}