{% extends 'TiendaMPRO/base.html' %}

{% load static %}

{% block contenido %}

<div class="pago-content">
    <h1>PAGO TRANSBANK </h1>
    <div class="form-group col-md-6">
        <!-- OPCIONES DE FILTRO -->
        <form action="" method="get" id="form">
            <div class="form-field">
                <label for="cbocategoria">Categoria:</label>
                <select class="form-control" name="cbocategoria" id="cbocategoria">
                    <option value="">Seleccionar</option>
                    {% for c in categ %}
                    <option value="{{ c.id }}">{{ c.categ_name }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="form-field">
                <select class="form-control" name="cbosubcateg" id="cbosubcateg">
                    <option value="">Seleccionar</option>
                    {% for s in subcateg %}
                    <option value="{{ s.id }}">{{ s.sub_categ_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-field">
                <label for="busqueda">Busqueda:</label>
                <input type="search" name="busqueda" id="">
            </div>

            <!--  -->
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>

    </div>
    <section class="padre-producto">
        {% for pr in producto %}
        <article class="producto-box">
            <h4>{{pr.nom_prod}}</h4>
            <img src="{{ pr.imagen.url }}" alt="">
            <h5>${{pr.precio}} clp</h5>
        </article>
        {% endfor %}
    </section>
    <form method="post" action={{response.url}}>
        <input type="hidden" name="token_ws" value={{response.token}} />
        <input class="btn btn-success btn-pagar" type="submit" value="Ir a pagar" />
    </form>

</div>
<!-- div#content-wrapper. -->
{% endblock %}