{% extends 'TiendaMPRO/base.html' %}

{% load static %}

{% block contenido %}

<div class="pago-content">
    <h1>PAGO TRANSBANK </h1>
    
    <section class="padre-producto">
    {% for pr in producto %}
        <article class="producto-box">
            <h4>{{pr.nom_prod}}</h4>
            <!-- <label for=""</label> -->
            <img src= "{{ pr.imagen.url }}" alt="">
            <!-- <div class="imagen">
            </div>           -->
            <h5>${{pr.precio}} clp</h5>
            <!-- <label for=""></label> -->

        </article>
    {% endfor %}
    </section>
    <form method="post" action={{response.url}}>
        <input type="hidden" name="token_ws" value= {{response.token}} />
        <input class="btn btn-success btn-pagar" type="submit" value="Ir a pagar" />
    </form>
    <h5>Token: {{response.token}}</h5>
    <h5>URL {{response.url}}</h5>

</div>
<!-- div#content-wrapper. -->
{% endblock %}

